.sidebar {
    width: 250px;
    background-color: var(--purple-light);
    color: var(--text-dark);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar h1 {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #3d3d3d;
    border: none;
    color: white;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
    color: var(--blue-dark);
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .bottom-links {
    margin-top: auto;
    color: var(--blue-dark);
  }
  
  .bottom-links a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
  }